# === Requisitos para NeuroVoice Project ===
# Compatible con Python 3.10+

numpy==1.26.4
pandas==2.2.2
librosa==0.10.1
soundfile==0.12.1
tqdm==4.66.4
matplotlib==3.8.4
resampy==0.4.2
scipy==1.13.1

# Dependencias internas
audioread==3.0.1
numba==0.59.1

# === Machine Learning Dependencies ===
torch==2.1.0
torchvision==0.16.0
scikit-learn==1.3.2
seaborn==0.12.2
